<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LayerDataAccess.Properties.Settings.strCnx" connectionString="Data Source=ERPSERVER;Initial Catalog=bapAdmin;User ID=sa;Password=bapnat"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>